@font-face {
  font-family: 'Encode Sans Condensed';
  src: local('Encode Sans Condensed'), url(./fonts/EncodeSansCondensed-Medium.ttf) format('woff');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Encode Sans Condensed',sans-serif;
}
